body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.logo {
  min-width: 228px;
  min-height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  height: 756px;
  display: flex;
  align-items: center;  
  padding-left: 64px;
}

.header__item {
  min-height: 100hv;
  display: flex;
  align-items: center;
}


.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header__square-pic {
  height: 450px;
  width: 420px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__item {
  height: 96px;
  font-size: 106px;
  font-weight: 600;
}

.header__subtitle {
  height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  min-height: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns_paragraph_text {
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  font-size: 24px;
  font-weight: bold;
}

.digits {
  padding-top: 100px;
}

.digits__section {
  width: 80%;
  min-width: 784px;
  width: 80%;
  margin: 0 auto;
}

.digits__table {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 18px;
  margin: 0 auto;
  width: 80%;
}

.digits__table-cell {
  height: 150px;
  width: 200px;
}

.digits__section-title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}

.digits__section-subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.table_heading_cell {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table_heading_text {
  font-size: 18px;
}

.feynman {
  margin-top: 240px;
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
}


.feynman_title_item {
  position: absolute;
  left: 400px;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
  text-align: center;
}


.feynman_subtitle_item {
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 350px;
  left: 500px;
  z-index: 1;
  text-align: center;
}

.feynman_link_image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman_link_item {
  position: absolute;
  right: 48px;
  top: 370px;
}

.feynman_link_decoration {
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  height: 800px;
  overflow: hidden;
  padding-top: 50px;
}

.kaufman__section {
  width: 80%;
  min-width: 784px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 40px 16px;
}

.table_cell_dark {
  height: 150px;
  width: 200px;
  position: relative;
  z-index: 1;
}

.kaufman_triangle_image {
  position: absolute;
  top: 0;
  right: -340px;
}

.section-title_theme_dark {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.section-subtitle_theme_dark {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table_heading_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.table_text_dark {
  color: white;
  font-size: 18px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 90px;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.footer_column_copyright {
  flex-grow: 5;
}

.footer_column_info {
  flex-grow: 3;
}

.footer_column_author {
  padding-top: 200px;
}

.logo_place_footer {
  padding-top: 25px;
}

.column_author_title {
  font-size: 18px;
  line-height: 25px;
  color: white;
}

.column_heading_title {
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.column_social_title {
  font-size: 18px;
  line-height: 30px;
  color: white;
  font-family: Yandex Sans;
}

.column-links__list {
  list-style: none;
}

.footer_column-links_list {
  color: white;
}

.social_icon_items {
  list-style: none;
}

.social-icon_items_list {
  color: white;
}

.social-icon_item_link {
  text-decoration: none;
  color: white;
}


